<header class="main-header">
  <a href="/" class="logo">
    <img src="" style="background-color: #fff; max-width: 90px" />
  </a>

  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!--<img src="https://openclipart.org/image/400px/122107"
              class="img-thumbnail"
              alt="User Image" 
              width="40"
              height="20"
              />-->

            <span class="hidden-xs">
               {{ app.user.nom }}
            </span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="https://openclipart.org/image/400px/122107"
              class="img-thumbnail"
              alt="User Image" 
              width="30"
              height="20"/>


              <p>
                {{ app.user.nom }}
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <a href="/logout"
                  class="btn btn-default btn-flat">
                  <i class="fas fa-sign-out-alt"></i> Desconnexió
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="control-sidebar">
            <i class="fa fa-gears"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
