{% extends 'base.html.twig' %}

{% block title %}GesTaller{% endblock %}

{% block body %}
<p class="h1">Benvingut a GesTaller</p>
<div class="btn-group" role="group" aria-label="Botons inici">
    <a href="/clients"  class="btn btn-secondary " role="button">{{"client.client"|trans}}</a>
    <a href="/vehicles"  class="btn btn-secondary " role="button">{{"vehicle.vehicle"|trans}}</a>
    <a href="/pressupost"  class="btn btn-secondary" role="button">{{"pressupost.pressupost"|trans}}</a>
</div>

{% endblock %}

