{% extends 'base.html.twig' %}

{% block title %}Nou pressupost{% endblock %}

{% block body %}
<div class="container mt-4">
		<h1>Nou pressupost</h1>	 	
		<div class="pt-2">
			

			{{ form_start(form) }}
				
				{{ form_rest(form) }}


             
				<div class="w-100 text-center">
					<button type="submit" class="btn btn-outline-primary"><i class="fa fa-paper-plane"></i> Enviar</button>
				</div>

			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}
