{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}



{% block body %}
<div class="row">
    <a href="/clients/afegir"  class="btn btn-primary m-3" role="button">Afegir client</a>
</div>
    
    <div class="table-responsive">
		<div id="clients">Loading...</div>
	</div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>

	<script>
		$(function() {
		    var dt = $('#clients').initDataTables({{ datatable_settings(datatable) }}, {
		    	searching: true,
                dom: 'Bfrtip'
		    });
		});
	</script>
{% endblock %}