{% extends 'base.html.twig' %}

{% block title %}{{"marca.list"|trans}}{% endblock %}
{% block title_block %}{{"marca.list"|trans}}{% endblock %}

{% block body %}
<div class="row">
    <a href="/marques/afegir"  class="btn btn-primary m-3" role="button">Afegir marca</a>
</div>
    
    <div class="table-responsive">
		<div id="marques">Loading...</div>
	</div>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>

	<script>
		$(function() {
		    var dt = $('#marques').initDataTables({{ datatable_settings(datatable) }}, {
		    	searching: true,
                dom: 'Bfrtip'
		    });
		});
	</script>
{% endblock %}
