<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>


        {% block navbar %} 
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="/clients">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/vehicles">Vehicles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pressupostos">Pressupost</a>
                        </li>
                       {% endif %}
                       {% if is_granted('ROLE_DIRECTOR') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="gestio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gestió
                            </a>
                            <div class="dropdown-menu" aria-labelledby="gestio">
                                <a class="dropdown-item" href="/categories">Gestió categories article</a>
                                <a class="dropdown-item" href="/articles">Gestió articles</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/marques">Gestió marques vehicles</a>
                                <a class="dropdown-item" href="/models">Gestió models vehicles</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="direccio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Direcció
                            </a>
                            <div class="dropdown-menu" aria-labelledby="direccio">
                                <a class="dropdown-item" href="/register">Registrar usuari</a>
                                <a class="dropdown-item" href="/llistarUsuaris">Llistar usuaris</a>
                                <a class="dropdown-item" href="/empresa">Empresa</a>
                            </div>
                        </li>

                        {% endif %}
                        {% if app.user %}

                        <li class="d-flex">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        {% endif %}

                    </ul>
                    
                </div>
                    
            </nav> 
        {% endblock %}

        <div class="container-fluid">
            <h1 class="mt-2 mb-2">{% block title_block %}{% endblock %}</h1>
            {% include ('_partials/messages_flashes.html.twig') %}
            {% block body %}{% endblock %}
        </div>


        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
            

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
        
    </body>
</html>
