{% extends 'email/_base.html.twig' %}

{% block title %}Accés al vostre compte Gestaller{% endblock %}

{% block content %}

	<p>Bones,<br/><br/><p>
	<p>
		Per regenerar l'accés al vostre compte a <strong>Gestaller</strong> siusplau accedeixi a la pàgia següent:<br/><br/>
		<a href="http://localhost:8000{{ url }}">http://localhost:8000/{{ url }}</a>
	</p>


	<p>La safata d'entrada d'aquest correu no és revisa, siusplau no contesti aquest correu.
	</p>

	
	
{% endblock %}